# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
DB_NAME=midterm_bigdata_db

# File Routing Threshold (in MB)
SMALL_FILE_THRESHOLD_MB=200.0

# Batch Processing
BATCH_SIZE=5000
ELT_CHUNK_SIZE=5000

# API Settings
API_HOST=0.0.0.0
API_PORT=8000
